@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Chakra Petch", sans-serif;
  height: 100%;
}

:root {
  --primary-color: #FA008E;
  --secondary-color: #FFAFC5;
  --accent-color: #FFCFD2;
  --font-main: "Chakra Petch",
    sans-serif;
    --color-info: #6C2A58;
    --color-text: #000;
    --color-text-inverted: #fff;
}

/* Header  */
.navbar, 
.footer {
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.logo{
  color: var(--primary-color);
}

.nav-links ul {
  list-style: none;
  gap: 2rem;
display: flex;
  
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text-inverted);
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: color 0.3s;
  font-size: 24px;
}

/* HOMEPAGE */
.container{
  min-height: 100vh;
  padding: 4rem 0;
  background: var(--accent-color);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
  
}

.card>* {
  margin-bottom: 1rem;
  
}

.card > p, .card > h2{
margin-left: .5rem;
}

.card img{
  border: solid 3px black;
  border-radius: 10%;
}

.card h2{
  color: var(--color-info);
  
}


#contact{
display: flex;
flex-direction: column;
width: 80%;
margin: auto;
justify-content: center;
flex-grow: 1;
}

#contact h1{
  text-align: center;
  margin: 50px 0;

}

#contact input[name="name"],
#contact input[name="email"] {

  font-size: large;
 
}

#contact input[name="message"]{
  font-size: large;
}

  #contact button[type="submit"] {
      background-color: #fff;
      /* Indigo */
      color: #000;
      border: 1px solid #000;
      padding: 15px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }


    #contact button[type="submit"]:hover {
      background-color: #000;
      color: #fff;
      /* Darker indigo */
    }

/* ABOUT */
#about{
display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  justify-content: center;
  height: 80vh;

  width: 50%;
  margin: auto;
}

#about .header-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#about .header-content  h2{
  font-weight: 100;
}

.profile-pic{
  border-radius: 50%;
}



.bio{
  text-align: left;
  width: 75%;
}


/* FOOTER  */

.footer-links ul {
  list-style: none;
  gap: 2rem;
  display: flex;

}


.footer{
  display: flex;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
